li {color: brown;}
h1 {  position: fixed;
      left: 50%;
    }
body{color: red;}
#h2aqua{color: aqua;}
#h2green{color: green;}
#description {font-family: 'Courier New', Courier, monospace; border: 8px solid chocolate;}